h1 {
	background-image: url('img/banniere2.png');
	background-size: 100% 100%;
	height: 300px;
	margin: 0;
	/* background-color: #729bec;
	color: #020303;
	padding: 20px;
	text-align: center;
	border-bottom: 4px #c6d4df solid;
	margin-bottom: 10px;
	font-family: 'Motiva Sans', Sans-serif; */
}

table td {
	border: 1px solid black;
	padding: 0;
	width: 50px;
	height: 50px;
}
table {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	height: 500px;
	z-index: 100;
}

.block-cell {
	background-image: url('img/brick.png');
	background-size: 100% 100%;
}

.lightsaber-cell {
	background-image: url('img/lightsaber.png');
	background-size: 100% 100%;
}

.rifle-cell {
	background-image: url('img/rifle.png');
	background-size: 100% 100%;
}

.canon-cell {
	background-image: url('img/canon.png');
	background-size: 100% 100%;
}

.sniper-cell {
	background-image: url('img/sniper.png');
	background-size: 100% 100%;
}

.Yoda-cell {
	background-image: url('img/yoda.png');
	background-size: 100% 100%;
	position: relative;
}

.Vador-cell {
	background-image: url('img/vador.png');
	background-size: 100% 100%;
}

.container {
	border-style: none !important;
}

#game {
	display: none;
	border: 1px solid slategray;
}

.player1 {
	background-image: url('pics/player1.png');
	background-size: 100% 100%;
	align-items: center;
}
.player2 {
	background-image: url('pics/player2.png');
	background-size: 100% 100%;
	align-items: center;
}

.highLight {
	background-color: rgb(196, 82, 82);
	opacity: 0.8;
	border-radius: 10%;
}

.btn {
	/* align-items: center; */
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 30px;
}
img {
	align-items: center;
}
#showNamePlayer1 {
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	text-shadow: 1px 1px rgb(209, 217, 224);
	color: #03f417;
}
#showNamePlayer2 {
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	text-shadow: 1px 1px rgb(209, 217, 224);
	color: #ff0000;
}
#currentWeaponP1,
#currentWeaponP2 {
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	font-style: oblique;
	color: #2a2e36;
}

#pb-player1 {
	padding: 6px 0px; /* 6px up and down, 0px left and right
	/* margin-top: 5px; */
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
	/* height: 18px; */
	background-color: green;
	border-radius: 4px;
	border: 1px solid slategray;
	transition: 0.4s linear;
	transition-property: width, background-color;
	width: 100%;
}

#pb-player2 {
	padding: 6px 0px; /* 6px up and down, 0px left and right
	/* margin-top: 5px; */
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
	/* height: 18px; */
	background-color: red;
	border-radius: 4px;
	border: 1px solid slategray;
	transition: 0.4s linear;
	transition-property: width, background-color;
	width: 100%;
}

#restartGame {
	margin-left: 200px;
	margin-bottom: 20px;
	background-color: #f49542;
	border-radius: 4px;
	border: 1px solid slategray;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.content {
	display: flex;
	margin: 0;
}

#beforeGameStarts1 {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 50%;
	background: #ebf5fc;
}
.form1 {
	position: relative;
	width: 350px;
	padding: 40px 40px 60px;
	background: #ebf5fc;
	border-radius: 10px;
	text-align: center;
	box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.8), 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.form1 h2 {
	color: #03f417;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 4px;
}
.form1 .input {
	text-align: left;
	margin-top: 40px;
}
.form1 .input .inputBox {
	margin-top: 20px;
}
.form1 .input .inputBox label {
	display: block;
	color: #868686;
	margin-bottom: 5px;
	font-size: 18px;
}
.form1 .input .inputBox input {
	width: 100%;
	height: 50px;
	background: #ebf5fc;
	border: none;
	outline: none;
	border-radius: 40px;
	padding: 5px 15px;
	color: #fff;
	font-size: 18px;
	color: #03f417;
	box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 1), inset 2px 2px 6px rgba(0, 0, 0, 0.1);
}
.form1 .input .inputBox input[type='submit'] {
	cursor: pointer;
	margin-top: 20px;
	box-shadow: -2px -2px 6px rgba(255, 255, 255, 1), 2px 2px 6px rgba(0, 0, 0, 0.1);
}
.form1 .input .inputBox input[type='submit']:active {
	color: #03f467;
	margin-top: 20px;
	box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 1), inset 2px 2px 6px rgba(0, 0, 0, 0.1);
}
.form1 .input .inputBox input::placeholder {
	color: #555;
	font-size: 18px;
}

#beforeGameStarts2 {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 50%;
	background: #131419;
}
.form2 {
	position: relative;
	width: 350px;
	padding: 40px 40px 60px;
	background: #131419;
	border-radius: 10px;
	text-align: center;
	box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05), 5px 5px 15px rgba(0, 0, 0, 0.5);
}
.form2 h2 {
	color: #ff0000;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 4px;
}
.form2 .input {
	text-align: left;
	margin-top: 40px;
}
.form2 .input .inputBox {
	margin-top: 20px;
}
.form2 .input .inputBox label {
	display: block;
	color: #868686;
	margin-bottom: 5px;
	font-size: 18px;
}
.form2 .input .inputBox input {
	width: 100%;
	height: 50px;
	background: #131419;
	border: none;
	outline: none;
	border-radius: 40px;
	padding: 5px 15px;
	color: #fff;
	font-size: 18px;
	color: #ff0000;
	box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1), inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}
.form2 .input .inputBox input[type='submit'] {
	cursor: pointer;
	margin-top: 20px;
	box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.8);
}
.form2 .input .inputBox input[type='submit']:active {
	color: #af1212;
	margin-top: 20px;
	box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1), inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}
.form2 .input .inputBox input::placeholder {
	color: #555;
	font-size: 18px;
}
