table td {
	border: 2px solid black;
	padding: 0;
	width: 100vh;
	height: 50px;
}
table {
	margin: auto;
}

.block-cell {
	background-color: black;
}

.weapon-cell {
	background-color: red;
}

.hache-cell {
	background-color: green;
}

.couteau-cell {
	background-color: yellow;
}

.Roro-cell {
	background-color: violet;
}
